{% extends "/pages/base.html.twig" %}

{% block site_body %}
  <div class="link-page-retour">
      <p>Accueil ></p>
  </div>
  <div class="container text-center header-body">
    <h1>E - Carnet Presentation</h1>
    <p>
      Chers étudiants,Un carnet papier a été créé dans les années 1990 par le Professeur Jean Marcheix et le Professeur Olivier Aumaître pour les étudiants en stage dans le service de Médecine Interne. Ce carnet avait pour objectif l'apprentissage de la sémiologie. Avec l’aide du Docteur Stievenart et du Professeur André, ce carnet a été numérisé. Des items ont été ajoutés dans les différents appareils.
      Certains étudiants ont bénéficié l’année dernière en DFGSM3 d’un carnet de sémiologie en version papier lors de leur passage dans le service de Médecine Interne du CHU Gabriel Montpied avec des résultats positifs et de bons retours.
    </p> 
  </div>

<div class="container mt-5">

    <blockquote class="blockquote">
      <span class="mdi mdi-chevron-double-left"></span>
        <p>Les explications des differents items et leurs siginifications et explications comment il faut les repondre</p>
      <span class="mdi mdi-chevron-double-right"></span>
    </blockquote>

    <div class="row">
      <div class="col-sm-3">
        <h3>Appris</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-3">
        <h3>Vu faire</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-3">
        <h3>Fait</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-3">
        <h3>Acquis</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
</div>
<div class="container mt-5">
  <h4>Je passe mon test de positionnement maintenant <a href="/test_positionnements/initiale">cliquer ici</a></h4>
</div>

 {% endblock %}