{% extends "/pages/base.html.twig" %}
{% block block_css_local %}<link href="../css/progress.css" rel="stylesheet">{% endblock %}

{% block site_body %}
    <div class="link-page-retour">
        <p><a href="/home" >Accueil  ></a> avancement</p>
    </div>
    <div class = " container header-body" style="margin-top:50px;z-index:-1">
        <h4 class ="text-center mb-3"> Votre niveau d'avancement </h4>
        <div class ="row">
            <div class ="col mb-5">
                <div>
                    <label>Touchez le bouton pour voir votre score</label>
                    
                    <div class="demo-buttons-group">

                        <div class="flip-cover-appris"></div>
                        <br />
                        <br />
                        <div class="flip-cover-vu_faire"></div>
                        <br />
                        <br />
                        <div class="flip-cover-fait"></div>
                        <br />
                        <br />
                        <div class="flip-cover-acquis"></div>
                        
                    </div>
                </div>
            </div>
            <div class ="col" >
                <div>
                    <label>Vous pouvez voir le progress bar de votre score ici</label>
                    <br />
                    <br />
                    <div class="progress" style="height:30px">
                        <div class="progress-bar" style="width:60%;height:30px">60%   Appris</div>
                    </div>
                    <br />
                    <br />
                    <div class="progress" style="height:30px">
                        
                        <div class="progress-bar" style="width:60%;height:30px">60%   Vu faire</div>
                    </div>
                    <br />
                    <br />
                    <div class="progress" style="height:30px">
                        <div class="progress-bar" style="width:60%;height:30px">60%   Fait</div>
                    </div>
                    <br />
                    <br />
                    <div class="progress" style="height:30px">
                        <div class="progress-bar" style="width:60%;height:30px">60%   Acquis</div>
                    </div>
                </div>
            </div>


        </div>
    </di>
    {% block block_js_local %}<script src ="../js/progress.js"></script>{% endblock %}
{% endblock %}